{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'equipment_catalog/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'equipment_catalog/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
				{% for m in menu %}
				<li><a href="{% url m.url_name %}">{{m.title}}</a></li>
				{% endfor %}
				{% if request.user.is_authenticated %}
				<li class="last"><a href="{% url 'logout' %}">Выйти</a></li>
				{% else %}
				<li class="last"><a href="{% url 'login' %}">Войти</a></li>
				{% endif %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}


<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar слева -->
	<td valign="top" class="left-chapters">
	<ul id="leftchapters">
		{% if left_bar == 'cat' %}
			<li class="selected"><a href="{% url 'home' %}">Все категории</a></li>
		{% elif left_bar == 'pos' %}
			<li class="selected"><a href="{% url 'employees' %}">Все должности</a></li>
		{% endif %}
		{% for c in cats %}
				<li class="selected"><a href="{{ c.get_absolute_url }}">{{c.name}}</a></li>
		{% endfor %}
		<li class="share">
			{% if request.user.is_authenticated %}
			{% if left_bar == 'cat' %}
			<hr>
			<li class="selected"><a href="{% url 'add_equipment' %}">Добавить оборудование</a></li>
			<li class="selected"><a href="{% url 'add_equipment_location' %}">Разместить оборудование</a></li>
		{% elif left_bar == 'pos' %}
			<hr>
			<li class="selected"><a href="{% url 'add_employee' %}">Добавить сотрудника</a></li>
			<li class="selected"><a href="{% url 'add_equipment_employee' %}">Допустить сотрудника к оборудованию</a></li>
		{% endif %}
		{% endif %}
		</li>
	</ul>
</td>
<!-- Конец Sidebar'а -->
<td valign="top" class="content">
	<!-- Хлебные крошки -->
	{% block breadcrumbs %}
	{% endblock %}

<!-- Блок контента -->
	<div class="content-text">
{% block content %}
{% endblock %}

</td></tr></table>
</td></tr>
<!-- Footer -->
<tr><td valign=top>
	<div id="footer">
		<p>&copy; 2023 Частичное или полное копирование информации с данного сайта для распространения на других ресурсах, в том числе и бумажных, строго запрещено.</p>
	</div>
</td></tr></table>
<!-- Конец footer'а и страницы -->
</body>
</html>
