{% extends 'equipment_catalog/base.html' %}

{% block content %}
<ul class="list-articles">
	{% for c in equipment_list %}
				<p><img class="img-article-left thumb" src="{{c.photo.url}}"></p>
			<li><h2>{{c}}</h2>
	{% autoescape on %}
	<ul class="langitem">
		{% for i, j in c.information.items %}
		<li>{{i}} - {{j}}</li>
		{% endfor %}
	</ul>
	{% endautoescape %}
			<div class="clear"></div>
			<p class="link-read-post"><a href="{{ c.get_absolute_url }}">Подробнее</a></p>
			{% if request.user.is_authenticated %}
			<p class="link-read-post"><a href="{% url 'delete_equipment' c.category.slug c.slug %}">Удалить</a></p>
			{% endif %}
			</li>
	{% endfor %}
</ul>
{% endblock %}